### REQUIRED INFO ###
# everything in this section is required to be set up in order for the script to properly run

[General]
# where do you want files to be extracted/copied to?
outputDirectory = D:\Downloads\
# append label to output directory? (creates a folder with the name of the torrents label)
appendLabel = True
# remove files from uTorrent when done seeding?
remove = False
# send a notification when done processing a torrent?
notify = False
# send a notification when removing a torrent?
notifyRemove = False

[Client]
# you must turn on webui in utorrent settings
port = 8080
username = admin
password = 

[Extensions]
# set what extensions apply to each type of file, pre-configured for many different extensions
video = .avi|.mp4|.mkv|.mpg|.mpeg|.m4v|.mov|.wmv|.ogm|.flv
readme = .nfo|.ini|.txt
compressed = .rar|.7z|.zip|.001
image = .jpeg|.jpg|.gif|.png|.psd|.tiff|.tif
subtitle = .srt|.idx|.sub
audio = .mp3|.flac|.wma|.ogg|.alac|.wav
ignore = sample

### NOTIFICATIONS ###
# set which notifications you would like to receive and enter relevent info

[Email]
# pre-configured for gmail, just fill in your login information
enable = false
SMTPServer=smtp.gmail.com
SMTPPort=587
username=
password=
emailTo=

[PushBullet]
# pushbullet is a free application that allows you to send notifications
# across multiple devices including iOS, android, windows(desktop), chrome, firefox
# you can get your api token from: https://www.pushbullet.com/account
enable = false
token = 